<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="N"/>
    <add key="APIURL" value="http://devdreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="StoneOil"/>
    <add key="CloudAPIName" value="MarineDelivery"/>
    <add key="ClientAPIKEY" value="api_key=dbd54d9e75b590034e229602566758d00dae126b0cfece34b8e273b6a948270d"/>
    <add key="CloudAPIKEY" value="api_key=ab2caf27537309975a2c39c42b0989397604afeca4c25d560ebeeba343443996"/>-->

    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://dreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="Stone"/>
    <add key="CloudAPIName" value="MarineDeliveryProd"/>
    <add key="ClientAPIKEY" value="api_key=8cd1d2061e68a608d592376cc3a190b16d6378218e05d0387bfd597f3147cd79"/>
    <add key="CloudAPIKEY" value="api_key=ad2319d4c8037c5b11cb49d9dbf3f49e5e8b5d8aa965486a3b9c290991f2dfde"/>-->

     
    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://dreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="StoneProd"/>
    <add key="CloudAPIName" value="MarineDeliveryLive"/>
    <add key="ClientAPIKEY" value="api_key=e4e33cf7ad861d174c6325f9c655d71cd0417ab1af433f6686813cb0bb9c01eb"/>
    <add key="CloudAPIKEY" value="api_key=0e504ed885ffa7c895e95e6a1487823522ef8dd6259cef702e285f737bca4f2e"/>-->

    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://dreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="StoneQA"/>
    <add key="CloudAPIName" value="MarineDeliveryQA"/>
    <add key="ClientAPIKEY" value="api_key=8010e15a7b15458f7b3c094edb8e40f3673194eda8a2427a71f812005863dc59"/>
    <add key="CloudAPIKEY" value="api_key=0c11a07299ece16aa4d023a1bea6710a615c983ba06aebca1340975a6955d163"/>-->
    
    <!--stonetest-->
    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://dreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="StoneDev"/>
    <add key="CloudAPIName" value="MarineDeliveryLive"/>
    <add key="ClientAPIKEY" value="api_key=f7ee384b5b0f8204ad99214eed39fa1464cd02fb111b80bcd846386f25560fc7"/>
    <add key="CloudAPIKEY" value="api_key=0e504ed885ffa7c895e95e6a1487823522ef8dd6259cef702e285f737bca4f2e"/>-->

    <!--PROD-29-->
    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://108.161.134.29/api/v2/"/>
    <add key="ClientAPIName" value="ProdStoneOil"/>
    <add key="CloudAPIName" value="MarineDelivery"/>
    <add key="ClientAPIKEY" value="api_key=2e0c094e186cb0a0e194dd819d61df5f97eda3c986d60a467f55495e142bd191"/>
    <add key="CloudAPIKEY" value="api_key=e91a23a67c4a289578b9f134e63299ef3efa89069949c1d40f8735153b817af3"/>-->

    <add key="RetryCount" value="5" />
    <add key="Env" value="qa" />
    <add key="AzureUrl" value="http://testdeliverystream.firestreamonline.com:8100/AscendNotes" />
    <!--151-->
    <add key="Interval" value="1" />
    <add key="MasterTableUpdate" value="Y" />
    <add key="APIURL" value="http://108.161.134.29/api/v2/" />
    <add key="ClientAPIName" value="StoneOilDev" />
    <add key="CloudAPIName" value="MarineDeliveryDev" />
    <add key="ClientAPIKEY" value="api_key=4b310ee1c36d44e1b59a3e00134f35b73fa09cd42fa8f339da10289787485d52" />
    <add key="CloudAPIKEY" value="api_key=d9b4bcdca0dc38be85f9d146525d90fe1cccc73504a4629b72fc7c5596d885c0" />

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fswwmarine;AccountKey=iUDIk7ygzue9lzt8vStZiG7A9BYc3BhHRomPsbJzunQtIkvLX8vEO/6OC86QbdDExpQbX/bMU0AFASBfpE51Bw==" />
    

    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://192.168.2.66:81/api/v2/"/>
    <add key="ClientAPIName" value="StoneOil"/>
    <add key="CloudAPIName" value="MarineDelivery"/>
    <add key="ClientAPIKEY" value="api_key=3f2253dff8e45390e6da658129667656dfeff1cb1f82b09407f28e88e04fc753"/>
    <add key="CloudAPIKEY" value="api_key=28fe6e2e735ab1495a8e4a558b494aed1ad305bf13da51165962005e7960ef06"/>-->


    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://dreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="StoneDevQA"/>
    <add key="CloudAPIName" value="MarineDeliveryQA"/>
    <add key="ClientAPIKEY" value="api_key=28e278763d1c50a04359211aa18d4f8f7aede9141d104d49d14ac64e8fe691f9"/>
    <add key="CloudAPIKEY" value="api_key=0c11a07299ece16aa4d023a1bea6710a615c983ba06aebca1340975a6955d163"/>-->
 
    <!--production-->
    <!--<add key="Interval" value="1"/>
    <add key="MasterTableUpdate" value="Y"/>
    <add key="APIURL" value="http://dreamfactory.firestreamonline.com/api/v2/"/>
    <add key="ClientAPIName" value="StoneProd"/>
    <add key="CloudAPIName" value="MarineDeliveryApp"/>
    <add key="ClientAPIKEY" value="api_key=e4e33cf7ad861d174c6325f9c655d71cd0417ab1af433f6686813cb0bb9c01eb"/>
    <add key="CloudAPIKEY" value="api_key=b7049c4e3dd13b10ca58289ef7728fa015d7291c9d80d8840d619633330f552e"/>
    <add key="RetryCount" value="5"/>-->


    <!--http://dreamfactory.firestreamonline.com/api/v2/StoneProd/_proc/MN_GetTankType?api_key=e4e33cf7ad861d174c6325f9c655d71cd0417ab1af433f6686813cb0bb9c01eb-->
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to change the value to 
                    a larger value that can accommodate your JSON 
                    strings -->
        <jsonSerialization maxJsonLength="86753090" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--<add name="Ascend" connectionString="Data Source=TESTDELIVERYSTR\SQL2014;Initial Catalog=Stonetest;Persist Security Info=True;User ID=sa;Password=fsww9999!"/>
    <add name="MarineDelivery" connectionString="Data Source=TESTDELIVERYSTR\SQL2014;Initial Catalog=MarineDelivery;Persist Security Info=True;User ID=sa;Password=fsww9999!"/>-->

    <add name="Ascend" connectionString="Data Source=13.89.191.151;Initial Catalog=Stoneoil;Persist Security Info=True;User ID=dreamfactory;Password=dreamfactory" />
    <add name="MarineDelivery" connectionString="Data Source=13.89.191.151;Initial Catalog=MarineDelivery;Persist Security Info=True;User ID=dreamfactory;Password=dreamfactory" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
